html {
	background-image: url("../images/backg2.jpg");	
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 840px;
	background-color: lemonchiffon;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

.left_side {float:left;}
.middle {float:left;}
.right_side {float:right;}



/* Header ****************************************************************** */
header { 
    background-image: -webkit-linear-gradient(45deg, white 0%, blue 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, blue 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, blue 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, blue 75%, black 100%);
    padding: 15px;
} 
header img { 
	float: left; 
	padding-right: 1.5em;
	padding-left: 1em;  
} 
header h2 {
	font-size: 200%;
}
header h3 {
	font-size: 125%;
	padding-top: 5px;
	padding-bottom: 15px;
}

/* Navigation menu ******************************************************** */
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 210px;
	padding: .7em 0;
	text-decoration: none;
	background-color: #330066;
	color: white;
}
#nav_menu ul li a.current {
	color: orange;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}

#nav_menu ul ul li ul {   					/* 3-tier */
	position: absolute;
	left: 100%;
	top: 50%;
}


/* Sidebar *********************************************************** */
aside {
	float: left; 
	width: 160px;
	height: 500px;
	color: orange;
	font-size: 85%;
	background: wheat;
	padding-bottom: 2em;
}
#nav_list ul { 
	list-style: none;
	padding-left: 1.5em;
}

aside ul li a img {
	float: left;
	margin-bottom: .5em;
	border: 1px solid black;
}

/* Article ***************************************************************** */
article {
	width: 440px;
	float: left;
	margin-top: .5em;
	font-size: 110%;
	padding-left: .5em;
}

article figcaption {
	padding-top: 1em;
	padding-bottom: 1em;
	font-size:120%;
	color: orange;
}
label{
	width:7em;
	float: left;
}
input {
	width:15em;
	height:1.6em;
	margin-bottom: .5em;
}
input:focus {
	border: 2px solid navy;
}
#button {
	margin-left: 8em;
	width:6em;
	background: silver;
	margin-top: .8em;
}
#reset {
	margin-left: 1em;
	width:6em;
	background: salmon;
		margin-top: .8em;
}
article select {
	width:15em;
	float: left;
	margin-bottom: 1em;
}
br {clear: both;}

textarea {
    height: 8em;
    width: 15em;
	float: left;	
    font-family: Arial, Helvetica, sans-serif; 
}

/* Section ***************************************************************** */

section {
	width: 180px;
	height: 500px;
	font-size: 85%;
	padding-top: 2em;
	padding-left: 1em;
	border-left: 1px solid black;
	background: white;
}
section fieldset {
	margin-top: 2em;
	width: 8.5em;
}

section input {
	width:2em;
	margin-top: .5em;
	height: 1.2em;
}
section img {
	
}



/* Footer ******************************************************************* */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, black 0%, blue 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, blue 25%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, blue 25%, white 100%);
    background-image: linear-gradient(45deg, black 0%, blue 25%, white 100%);
} 
footer p {
	font-size: 85%;
	text-align: center;
}


