html {
	background-image: url("../images/backg2.jpg");	
}
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 840px;
	background-color: lemonchiffon;
	margin: 0 auto; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}
h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

.left_side {float:left;}
.middle {float:left;}
.right_side {float:right;}



/* Header ****************************************************************** */
header { 
    background-image: -webkit-linear-gradient(45deg, white 0%, blue 75%, black 100%);
    background-image: -moz-linear-gradient(45deg, white 0%, blue 75%, black 100%);
    background-image: -o-linear-gradient(45deg, white 0%, blue 75%, black 100%);
    background-image: linear-gradient(45deg, white 0%, blue 75%, black 100%);
    padding: 15px;
} 
header img { 
	float: left; 
	padding-right: 1.5em;
	padding-left: 1em;  
} 
header h2 {
	font-size: 200%;
}
header h3 {
	font-size: 125%;
	padding-top: 5px;
	padding-bottom: 15px;
}

/* Navigation menu ******************************************************** */
#nav_menu {
	clear: left;
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: block;
	width: 210px;
	padding: .7em 0;
	text-decoration: none;
	background-color: #330066;
	color: white;
}
#nav_menu ul li a.current {
	color: orange;
}
#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}

#nav_menu ul ul li ul {   					/* 3-tier */
	position: absolute;
	left: 100%;
	top: 50%;
}


/* Sidebar *********************************************************** */
aside {
	float: left; 
	width: 160px;
	height: 500px;
	color: orange;
	font-size: 85%;
	background: wheat;
	padding-bottom: 1em;
}
#nav_list ul { 
	list-style: none;
	padding-left: 1.5em;
}

aside ul li a img {
	float: left;
	margin-bottom: .5em;
	border: 1px solid black;
}

/* Article ***************************************************************** */
article {
	width: 460px;
	float: left;
	padding: .5em;
	font-size: 90%;
}

.tual {
	width: 466px;
	height: 450px; 	
	margin:0 auto;  
	margin-top: 1em; 
}
.leftSide {width: 150px; height: 450px; float: left; border: 2px solid black; margin-right: 6px;}
.rightSide {width: 300px; height: 450px; float:right; }

.rightTop {width:300px; height: 160px; border: 2px solid black; margin-bottom: 16px}
.rightMiddle { width:300px; height: 130px; border: 2px solid black; margin-bottom: 16px}
.rightBottom { width:300px; height: 120px;}

.rightBottomLeft { height: 120px; width: 92px; float: left; border: 2px solid black; margin-right: 6px}
.rightBottomMiddle { height: 120px;  width: 92px; float: left; border: 2px solid black;}
.rightBottomRight { height: 120px;  width: 92px; float: right; border: 2px solid black; margin-left: 6px}

article img {
	padding: 3px;
}
article figcaption {
	font-size: 70%;
	text-align: center;
	text-weight: bold;
	color: blue;
}
.zoom
{
    position: relative; -webkit-transform: scale(1); -ms-transform: scale(1); -moz-transform: scale(1);
    transition: all .3s ease-in; -moz-transition: all .3s ease-in; -webkit-transition: all .3s ease-in; -ms-transition: all .3s ease-in;
}

.zoom:hover
{
    z-index:2; -webkit-transform: scale(1.5); -ms-transform: scale(1.5);  -moz-transform: scale(1.5);
    transform: scale(1.5);
}


/* Section ***************************************************************** */

section {
	width: 160px;
	float: right;
	padding: 0 0.5em 1em 0.8em;
	font-size: 90%;
	text-align: left;
	border-left: 1px solid black;
	margin-top: 1em;
	margin-left: 0;
}

section h4 {
	font-size: 115%;
	text-align: center;
	padding-right: 1em;
}

section h3 {
	font-size: 108%;
	text-align: left;
	padding-bottom: .5em;
}

section p {
	padding-right: 1em;
}

/* Footer ******************************************************************* */
footer { 
	clear: both;
	border-top: 2px solid black;
	padding: 15px;
    background-image: -webkit-linear-gradient(45deg, black 0%, blue 25%, white 100%);
    background-image: -moz-linear-gradient(45deg, black 0%, blue 25%, white 100%);
    background-image: -o-linear-gradient(45deg, black 0%, blue 25%, white 100%);
    background-image: linear-gradient(45deg, black 0%, blue 25%, white 100%);
} 
footer p {
	font-size: 85%;
	text-align: center;
}


